@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
  margin: 0;
}

.condition {
  font-family: "Roboto", sans-serif;
}

.condition h1 {
  color: #00406b;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.16em;
}

.condition h2 {
  font-weight: 700;
  font-size: 1.15em;
  line-height: 1.75em;
}

.condition h3 {
  font-weight: 400;
  font-size: 1.15em;
  line-height: 1.75em;
  padding: 0;
  margin: 8px 0;
}

.condition .description {
  color: #00406b;
}

.condition .description-button {
  background: none;
  border: none;
  color: #2b8fff;
  font: inherit;
  padding: 0;
  cursor: pointer;
}

.condition .followup-intro {
  color: #00406b;
}

.condition .followup-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.condition .followup-section .chevron {
  height: 13px;
  width: 13px;
  display: inline-block;
  margin-left: auto;
  padding: 6px;
}

.personalize {
  padding: 4px 0 8px;
  background: #2b8fff;
  color: white;
}

.personalize h3,
.personalize p {
  padding: 0 8px;
}

.personalize .controls {
  padding: 0 8px;
  overflow-x: auto;
}

.personalize .controls,
.personalize .controls > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.personalize .controls span,
.personalize .controls button {
  font: inherit;
  padding: 0;
  color: inherit;
  padding: 4px 8px;
  margin-left: 8px;
  flex-shrink: 0;
  background: none;
  outline: none;
}

.personalize .controls button {
  border: 1px solid white;
  border-radius: 2em;
  cursor: pointer;
}

.personalize .controls button:first-child {
  margin-left: 0;
}

.personalize .controls button.selected {
  background: white;
  color: #2b8fff;
}

.personalize .controls select {
  color: white;
  font: inherit;
  border: 0;
  border-bottom: 1px solid white;
  background: none;
  outline: none;
}

section {
  padding: 8px;
}

.brand {
  text-align: center;
}

.brand a {
  width: 2em;
  text-decoration: none;
  color: #2b8fff;
  font-size: 0.875em;
}
