/** @todo fix fonts */
@import "../fonts/ploni/stylesheet.css";

.condition {
  font-family: "Ploni AAA", sans-serif;
  padding: 5px 26px;
}

.condition .title {
  color: #00406b;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.16em;
}

.condition .description {
  color: #00406b;
}

.condition .description-button {
  background: none;
  border: none;
  color: #2b8fff;
  font: inherit;
  padding: 0;
  cursor: pointer;
}

.condition .followup-intro {
  color: #00406b;
}

.condition .followup-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.condition .followup-section .chevron {
  height: 13px;
  display: inline-block;
  margin-left: auto;
}
