@font-face {
  font-family: "Ploni AAA";
  src: url("ploni-black-aaa.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Ploni AAA";
  src: url("ploni-bold-aaa.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ploni AAA";
  src: url("ploni-demibold-aaa.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Ploni AAA";
  src: url("ploni-light-aaa.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ploni AAA";
  src: url("ploni-medium-aaa.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ploni AAA";
  src: url("ploni-regular-aaa.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ploni AAA";
  src: url("ploni-ultrabold-aaa.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Ploni AAA";
  src: url("ploni-ultralight-aaa.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
